html{
    font-size: 10px;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    margin: 0;
}

#main {
    margin: 0 auto;
    margin-top: 3em;
    max-width: 350px;
    width: 100%;
}

#display-div {
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: end;
    min-height: 130px;
}

#display{
    margin: auto 0;
}

button {
    margin-right: 1rem;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(95, 94, 94);
    color: rgb(245,245,245);
    min-width: 80px;
    min-height: 80px;
    font-size: 4rem;
}

#nums-div{
    display: flex;
    flex-direction: column;
    position: inherit;
}

#num-in-div{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#zero-but{
    min-width: 170px;
    border-radius: 40px;
}

#clear-but{
    min-width: 170px;
    border-radius: 40px;
}

.oper-part1{
    background-color: rgb(207, 204, 207);
    color: rgb(33,33,33);
}

.oper-part2{
    background-color: rgb(255, 150, 1);
}

#multiple-but{
    display: flex;
    align-items: center;
}

.oper-part2 img{
    max-width: 40px;
    margin: auto;
}

